<gear-categories-pill-bar hide-all-category></gear-categories-pill-bar>
<p>Gear ID = <span id="gearId">?</span></p>

<!-- 
Have a dropdown where they select the category. Could also be a pill button like on the list page.
- This dropdown is only editable when adding a new gear item. 
- When editing a gear item, this dropdown is hidden.
Based on their selection, different DIV elements will appear that let them enter values for the appropriate category. 
Name, Cost, and Description are shared amongst all categories. 
-->
<div id="equipmentFields">Common equipment fields...</div>

<div id="armorFields" class="hidden">Armor fields...</div>

<div id="weaponFields" class="hidden">Weapon fields...</div>

<div id="specialField" class="hidden">Special field</div>
