<gear-categories-pill-bar hide-all-category></gear-categories-pill-bar>

<!-- 
Have a dropdown where they select the category. Could also be a pill button like on the list page.
- This dropdown is only editable when adding a new gear item. 
- When editing a gear item, this dropdown is hidden.
Based on their selection, different DIV elements will appear that let them enter values for the appropriate category. 
Name, Cost, and Description are shared amongst all categories. 
-->
<form id="addEditGearForm">
    <!-- SHARED EQUIPMENT FIELDS -->
    <div id="equipmentFields">
        <div class="grid grid-cols-2 gap-2 mb-3">
            <div>
                <label for="inputName" class="text-lg font-semibold uppercase">Name</label>
                <p id="gearName" class="text-base leading-relaxed text-black"></p>
                <input
                    id="inputName"
                    type="text"
                    class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
                />
            </div>
            <div>
                <label for="inputCost" class="text-lg font-semibold uppercase">Cost</label>
                <input
                    id="inputCost"
                    type="text"
                    class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
                />
            </div>
        </div>

        <div class="grid grid-cols-1 gap-2 mb-3">
            <label for="inputDescription" class="text-lg font-semibold uppercase">Description</label>
            <textarea
                id="inputDescription"
                type="text"
                class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
                rows="3"
            ></textarea>
        </div>
    </div>

    <!-- ARMOR FIELDS -->
    <div id="armorFields" class="hidden">
        <div class="grid grid-cols-3 gap-2 mb-3">
            <div>
                <label for="inputArmorPoints" class="text-lg font-semibold uppercase">Armor Points</label>
                <input
                    id="inputArmorPoints"
                    type="text"
                    class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
                />
            </div>
            <div>
                <label for="inputOxygen" class="text-lg font-semibold uppercase">Oxygen (O2)</label>
                <p id="gearOxygen" class="text-base leading-relaxed text-black"></p>
                <input
                    id="inputOxygen"
                    type="text"
                    class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
                />
            </div>
            <div>
                <label for="inputSpeed" class="text-lg font-semibold uppercase">Speed</label>
                <p id="gearSpeed" class="text-base leading-relaxed text-black"></p>
                <input
                    id="inputSpeed"
                    type="text"
                    class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
                />
            </div>
        </div>
    </div>

    <!-- WEAPON FIELDS -->
    <div id="weaponFields" class="hidden">
        <div class="grid grid-cols-2 gap-2 mb-3">
            <div>
                <label for="inputRange" class="text-lg font-semibold uppercase">Range</label>
                <input
                    id="inputRange"
                    type="text"
                    class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
                />
            </div>
            <div>
                <label for="inputDamage" class="text-lg font-semibold uppercase">Damage</label>
                <input
                    id="inputDamage"
                    type="text"
                    class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
                />
            </div>
        </div>

        <div class="grid grid-cols-2 gap-2 mb-3">
            <div>
                <label for="inputShots" class="text-lg font-semibold uppercase">Shots</label>
                <input
                    id="inputShots"
                    type="text"
                    class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
                />
            </div>
            <div>
                <label for="inputWound" class="text-lg font-semibold uppercase">Wound</label>
                <input
                    id="inputWound"
                    type="text"
                    class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
                />
            </div>
        </div>
    </div>

    <!-- SHARED SPECIAL FIELD -->
    <div id="specialField" class="hidden">
        <label for="inputSpecial" class="text-lg font-semibold uppercase">Special</label>
        <textarea
            id="inputSpecial"
            type="text"
            class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
            rows="3"
        ></textarea>
    </div>
</form>

<p>Gear ID = <span id="gearId">?</span></p>
