<!-- TODO: Hide this or disable the pills when editing an existing item -->
<gear-categories-pill-bar hide-all-category></gear-categories-pill-bar>

<form id="addEditGearForm">
    <gear-equipment-form-fields id="equipmentFields"></gear-equipment-form-fields>
    <gear-armor-form-fields id="armorFields" class="hidden"></gear-armor-form-fields>
    <gear-weapon-form-fields id="weaponFields" class="hidden"></gear-weapon-form-fields>
</form>

<!-- TODO: Remove after adding the edit feature -->
<p>Gear ID = <span id="gearId">?</span></p>
