<style>
    .icon-chevron {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23e3e3e3"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .icon-chevron-down {
        rotate: 0deg;
    }

    .icon-chevron-up {
        rotate: 180deg;
    }
</style>
<table id="gear-list-container" class="w-full mb-1 text-left border-collapse border-3 border-black">
    <thead class="text-white bg-black"></thead>
    <tbody></tbody>
</table>

<!-- <gear-equipment-modal></gear-equipment-modal> -->
<modal-dialog id="equipmentModal">
    <gear-equipment-form id="gearEquipmentForm"></gear-equipment-form>
</modal-dialog>
