<table id="gear-list-container" class="w-full text-left border-collapse border-3 border-black">
    <thead class="text-white bg-black">
        <tr>
            <th class="uppercase p-2" onclick="this.onTableHeaderClick('Item')">Item</th>
            <th class="uppercase p-2" onclick="this.onTableHeaderClick('Cost')">Cost</th>
            <th class="uppercase p-2" onclick="this.onTableHeaderClick('Category')">Category</th>
            <th class="uppercase p-2" onclick="this.onTableHeaderClick('Description')">Description</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
