<style>
    .active-filter-button {
        color: var(--color-white);
        background-color: var(--color-black);
    }

    .active-filter-button:hover {
        background-color: var(--color-gray-900);
    }

    .active-filter-button:active {
        background-color: var(--color-gray-700);
    }

    .inactive-filter-button {
        color: var(--color-black);
        background-color: var(--color-white);
        border-width: 3px;
        border-color: var(--color-black);
    }

    .inactive-filter-button:hover {
        background-color: var(--color-gray-100);
    }

    .inactive-filter-button:active {
        background-color: var(--color-gray-300);
    }
</style>

<div class="flex justify-evenly">
    <button
        type="button"
        id="categoryAll"
        class="active-filter-button font-bold min-w-32 px-4 py-1 my-2 rounded-full transition duration-150 ease-in-out cursor-pointer uppercase"
        onclick="this.onCategoryButtonClick(event)"
    >
        ALL
    </button>
    <button
        type="button"
        id="categoryArmor"
        class="inactive-filter-button font-bold min-w-32 px-4 py-1 my-2 rounded-full transition duration-150 ease-in-out cursor-pointer uppercase"
        onclick="this.onCategoryButtonClick(event)"
    >
        Armor
    </button>
    <button
        type="button"
        id="categoryEquipment"
        class="inactive-filter-button font-bold min-w-32 px-4 py-1 my-2 rounded-full transition duration-150 ease-in-out cursor-pointer uppercase"
        onclick="this.onCategoryButtonClick(event)"
    >
        Equipment
    </button>
    <button
        type="button"
        id="categoryWeapon"
        class="inactive-filter-button font-bold min-w-32 px-4 py-1 my-2 rounded-full transition duration-150 ease-in-out cursor-pointer uppercase"
        onclick="this.onCategoryButtonClick(event)"
    >
        Weapons
    </button>
</div>

<div class="flex">
    <input
        id="searchBox"
        placeholder="Search for gear by name . . ."
        class="grow border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        onkeyup="this.onSearchBoxKeyUp(event)"
    />
</div>
