<gear-categories-pill-bar></gear-categories-pill-bar>

<div class="grid grid-cols-3 gap-2 mb-2">
    <input
        id="searchBox"
        placeholder="Search for gear by name . . ."
        class="col-span-2 border-3 border-black px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        onkeyup="this.handleOnSearchBoxKeyUp(event)"
    />

    <select
        id="sourcesFilter"
        class="block w-full bg-white text-base text-black border-3 border-black px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        onchange="this.handleOnSourcesSelectChanged(event)"
    ></select>
</div>
