<div class="grid grid-cols-2 gap-2 mb-4">
    <div>
        <label class="text-lg font-semibold uppercase">Name</label>
        <p id="gearName" class="text-base leading-relaxed text-black"></p>
    </div>
    <div>
        <label class="text-lg font-semibold uppercase">Cost</label>
        <p id="gearCost" class="text-base leading-relaxed text-black"></p>
    </div>
</div>

<label class="text-lg font-semibold uppercase">Description</label>
<p id="gearDescription" class="text-base leading-relaxed text-black mb-4"></p>

<div class="grid grid-cols-3 gap-2 mb-4">
    <div>
        <label class="text-lg font-semibold uppercase">Armor Points</label>
        <p id="gearArmorPoints" class="text-base leading-relaxed text-black"></p>
    </div>
    <div>
        <label class="text-lg font-semibold uppercase">Oxygen (O2)</label>
        <p id="gearOxygen" class="text-base leading-relaxed text-black"></p>
    </div>
    <div>
        <label class="text-lg font-semibold uppercase">Speed</label>
        <p id="gearSpeed" class="text-base leading-relaxed text-black"></p>
    </div>
</div>

<label class="text-lg font-semibold uppercase">Special</label>
<p id="gearSpecial" class="text-base leading-relaxed text-black"></p>
