<error-panel></error-panel>

<div id="newPlayerCharacterForm" class="mb-18">
    <div>CURRENT STEP DIV (dynamically swap components based on the current step)</div>

    <div class="flex justify-center-safe">
        <secondary-button class="mr-2" onclick="this.handlePreviousButtonClick(event)">PREVIOUS</secondary-button>
        <button
            type="submit"
            class="text-white bg-black hover:bg-gray-900 active:bg-gray-700 font-bold min-w-32 px-4 py-1 my-2 rounded-full transition duration-150 ease-in-out cursor-pointer uppercase"
            onclick="this.handleNextButtonClick(event)"
        >
            NEXT
        </button>
    </div>
</div>
