<div class="grid grid-cols-2 gap-2 mb-4">
    <div>
        <label class="text-lg font-semibold uppercase">Name</label>
        <p id="gearName" class="text-base leading-relaxed text-black"></p>
    </div>
    <div>
        <label class="text-lg font-semibold uppercase">Cost</label>
        <p id="gearCost" class="text-base leading-relaxed text-black"></p>
    </div>
</div>

<label class="text-lg font-semibold uppercase">Description</label>
<p id="gearDescription" class="text-base leading-relaxed text-black mb-4"></p>

<div class="grid grid-cols-2 gap-2 mb-4">
    <div>
        <label class="text-lg font-semibold uppercase">Range</label>
        <p id="gearRange" class="text-base leading-relaxed text-black"></p>
    </div>
    <div>
        <label class="text-lg font-semibold uppercase">Damage</label>
        <p id="gearDamage" class="text-base leading-relaxed text-black"></p>
    </div>
</div>

<div class="grid grid-cols-2 gap-2 mb-4">
    <div>
        <label class="text-lg font-semibold uppercase">Shots</label>
        <p id="gearShots" class="text-base leading-relaxed text-black"></p>
    </div>
    <div>
        <label class="text-lg font-semibold uppercase">Wound</label>
        <p id="gearWound" class="text-base leading-relaxed text-black"></p>
    </div>
</div>

<label class="text-lg font-semibold uppercase">Special</label>
<p id="gearSpecial" class="text-base leading-relaxed text-black"></p>
