<div class="grid grid-cols-3 gap-2 mb-3">
    <div>
        <label for="inputArmorPoints" class="text-lg font-semibold uppercase">Armor Points</label>
        <input
            id="inputArmorPoints"
            type="number"
            class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
            placeholder="Enter item's APs..."
            aria-placeholder="Enter item's armor points..."
            min="0"
            max="9000000000000000"
        />
    </div>
    <div>
        <label for="inputOxygen" class="text-lg font-semibold uppercase">Oxygen (O2) [hours]</label>
        <p id="gearOxygen" class="text-base leading-relaxed text-black"></p>
        <input
            id="inputOxygen"
            type="text"
            class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
            placeholder="Enter item's hours of O2..."
            aria-placeholder="Enter item's hours of oxygen..."
            min="0"
            max="9000000000000000"
        />
    </div>
    <div>
        <label for="inputSpeed" class="text-lg font-semibold uppercase">Speed</label>
        <p id="gearSpeed" class="text-base leading-relaxed text-black"></p>
        <select
            id="inputSpeed"
            class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        >
            <option value="Normal">Normal</option>
            <option value="[+]">Advantage [+]</option>
            <option value="[-]">Disadvantage [-]</option>
        </select>
    </div>
</div>

<div class="grid grid-cols-1 gap-1 mb-3">
    <label for="inputSpecial" class="text-lg font-semibold uppercase">Special</label>
    <textarea
        id="inputSpecial"
        type="text"
        class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        placeholder="Enter item's special properties..."
        aria-placeholder="Enter item's special properties..."
        rows="3"
        maxlength="1000"
    ></textarea>
</div>
