<div class="grid grid-cols-3 gap-2 mb-3">
    <div>
        <label for="inputArmorPoints" class="text-lg font-semibold uppercase">Armor Points</label>
        <input
            id="inputArmorPoints"
            type="text"
            class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        />
    </div>
    <div>
        <label for="inputOxygen" class="text-lg font-semibold uppercase">Oxygen (O2)</label>
        <p id="gearOxygen" class="text-base leading-relaxed text-black"></p>
        <input
            id="inputOxygen"
            type="text"
            class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        />
    </div>
    <div>
        <label for="inputSpeed" class="text-lg font-semibold uppercase">Speed</label>
        <p id="gearSpeed" class="text-base leading-relaxed text-black"></p>
        <input
            id="inputSpeed"
            type="text"
            class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        />
    </div>
</div>

<div class="grid grid-cols-1 gap-1 mb-3">
    <label for="inputSpecial" class="text-lg font-semibold uppercase">Special</label>
    <textarea
        id="inputSpecial"
        type="text"
        class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        rows="3"
    ></textarea>
</div>
