<div class="mb-4">
    <label class="text-lg font-semibold uppercase">Name</label>
    <p id="npcName" class="text-base leading-relaxed text-black"></p>
</div>

<div class="grid grid-cols-2 gap-2 mb-4">
    <div>
        <label class="text-lg font-semibold uppercase">Combat</label>
        <p id="npcCombat" class="text-base leading-relaxed text-black"></p>
    </div>
    <div>
        <label class="text-lg font-semibold uppercase">Instinct</label>
        <p id="npcInstinct" class="text-base leading-relaxed text-black"></p>
    </div>
</div>

<div class="grid grid-cols-2 gap-2 mb-4">
    <div>
        <label class="text-lg font-semibold uppercase">Health</label>
        <p id="npcHealth" class="text-base leading-relaxed text-black"></p>
    </div>
    <div>
        <label class="text-lg font-semibold uppercase">Maximum Wounds</label>
        <p id="npcMaximumWounds" class="text-base leading-relaxed text-black"></p>
    </div>
</div>

<div class="mb-4">
    <label class="text-lg font-semibold uppercase">Armor Points</label>
    <p id="npcArmorPoints" class="text-base leading-relaxed text-black"></p>
</div>

<div class="mb-4">
    <label class="text-lg font-semibold uppercase">Attacks</label>
    <div id="npcAttacksContainer"></div>
</div>

<div class="mb-4">
    <label class="text-lg font-semibold uppercase">Special Abilities</label>
    <div id="npcSpecialAbilitiesContainer"></div>
</div>

<div>
    <label class="text-lg font-semibold uppercase">Description</label>
    <p id="npcDescription" class="text-base leading-relaxed text-black"></p>
</div>
