<div>1. ROLL 2D10+25 FOR EACH <b>STAT</b></div>

<div class="grid grid-cols-4 gap-2 mt-3 mb-3 justify-items-center">
    <div class="grid grid-cols-1 justify-items-center">
        <input
            id="inputStrength"
            name="inputStrength"
            type="text"
            inputmode="numeric"
            maxlength="3"
            class="w-16 h-16 block rounded-full text-center bg-white text-black text-2xl font-bold border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            aria-placeholder="Enter your strength attribute..."
            required
            aria-required
            onchange="this.handleOnStrengthInputChanged(event)"
            value="0"
        />
        <label for="inputStrength" class="text-lg font-semibold uppercase">Strength</label>
        <primary-button id="rollStrength" onclick="this.handleRollStrengthButtonClick(event)">ROLL</primary-button>
    </div>

    <div class="grid grid-cols-1 justify-items-center">
        <input
            id="inputSpeed"
            name="inputSpeed"
            type="text"
            inputmode="numeric"
            maxlength="3"
            class="w-16 h-16 block rounded-full text-center bg-white text-black text-2xl font-bold border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            aria-placeholder="Enter your speed attribute..."
            required
            aria-required
            onchange="this.handleOnSpeedInputChanged(event)"
            value="0"
        />
        <label for="inputSpeed" class="text-lg font-semibold uppercase">Speed</label>
        <primary-button id="rollSpeed" onclick="this.handleRollSpeedButtonClick(event)">ROLL</primary-button>
    </div>

    <div class="grid grid-cols-1 justify-items-center">
        <input
            id="inputIntellect"
            name="inputIntellect"
            type="text"
            inputmode="numeric"
            maxlength="3"
            class="w-16 h-16 block rounded-full text-center bg-white text-black text-2xl font-bold border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            aria-placeholder="Enter your intellect attribute..."
            required
            aria-required
            onchange="this.handleOnIntellectInputChanged(event)"
            value="0"
        />
        <label for="inputIntellect" class="text-lg font-semibold uppercase">Intellect</label>
        <primary-button id="rollIntellect" onclick="this.handleRollIntellectButtonClick(event)">ROLL</primary-button>
    </div>

    <div class="grid grid-cols-1 justify-items-center">
        <input
            id="inputCombat"
            name="inputCombat"
            type="text"
            inputmode="numeric"
            maxlength="3"
            class="w-16 h-16 block rounded-full text-center bg-white text-black text-2xl font-bold border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            aria-placeholder="Enter your combat attribute..."
            required
            aria-required
            onchange="this.handleOnCombatInputChanged(event)"
            value="0"
        />
        <label for="inputCombat" class="text-lg font-semibold uppercase">Combat</label>
        <primary-button id="rollCombat" onclick="this.handleRollCombatButtonClick(event)">ROLL</primary-button>
    </div>
</div>

<div class="grid grid-cols-1 justify-items-center mb-3">
    <primary-button id="rollAll" onclick="this.handleRollAllButtonClick(event)">ROLL ALL</primary-button>
</div>
