<div class="mb-4">
    <label class="text-lg font-semibold uppercase">Name</label>
    <p id="playerCharacterName" class="text-base leading-relaxed text-black"></p>
</div>

<div class="mb-4">
    <label class="text-lg font-semibold uppercase">Class</label>
    <p id="playerCharacterClass" class="text-base leading-relaxed text-black"></p>
</div>

<div>
    <label class="text-lg font-semibold uppercase">Description</label>
    <p id="playerCharacterDescription" class="text-base leading-relaxed text-black"></p>
</div>
