<modal-dialog id="confirmationModal">
    <span slot="modal-header">
        <slot name="confirmation-header"></slot>
    </span>

    <span slot="modal-body">
        <slot name="confirmation-body"></slot>
    </span>

    <span slot="modal-footer" class="flex items-center">
        <primary-button onclick="this.onConfirmationButtonClick(event)" class="mr-1">Ok</primary-button>
        <secondary-button onclick="this.onCancelButtonClick(event)" class="ml-1">Cancel</secondary-button>
    </span>
</modal-dialog>
