<div class="grid grid-cols-2 gap-2 mb-3">
    <div>
        <label for="inputName" class="text-lg font-semibold uppercase">Name</label>
        <p id="gearName" class="text-base leading-relaxed text-black"></p>
        <input
            id="inputName"
            type="text"
            class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        />
    </div>
    <div>
        <label for="inputCost" class="text-lg font-semibold uppercase">Cost</label>
        <input
            id="inputCost"
            type="text"
            class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        />
    </div>
</div>

<div class="grid grid-cols-1 gap-1 mb-3">
    <label for="inputDescription" class="text-lg font-semibold uppercase">Description</label>
    <textarea
        id="inputDescription"
        type="text"
        class="block w-full bg-white text-base text-black border-3 border-black mb-2 px-2 py-1 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-0"
        rows="3"
    ></textarea>
</div>
